<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testingfeatures">
    <!-- for using google ad id in android version 13 and above -->
    <!--<uses-permission android:name="com.google.android.gms.permission.AD_ID"/>-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Required to allow the app to send events and user profile information -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Recommended so that CleverTap knows when to attempt a network call -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestingFeatures"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/button_background" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainPageActivity" />
        <activity android:name=".UpdateProfileActivity" />
        <activity android:name=".SetIdentityActivity" />
        <activity android:name=".OtherActivity" />

        <service
            android:name="com.clevertap.android.sdk.pushnotification.fcm.FcmMessageListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="clevertap account id" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="clevertap account token" />
<!--        <meta-data-->
<!--            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"-->
<!--            android:value="1"/>-->
    </application>

</manifest>
